<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Mis cursos</title>
        <div th:insert="~{fragments/general.html :: estilo}"></div>
    </head>
    <body>
        <div class="container">
            <div th:insert="~{fragments/general.html :: header}"></div>
            <h1>Mis cursos</h1>
            <table class="table">
                <thead>
                </thead>
            </table>
        </div>

    </body>
</html>